@charset "utf-8";
/* CSS Document */
*{ padding: 0;
  	margin: 0;
	font-family: tieude;
}
@font-face {
	font-family: tieude;
	src: url("../font/Montserrat-Light.ttf");
}
						/* header */
.header{
	height: 20vh;
	background-color:rgb(228, 239, 231);
}
.logo{
	float:left;
	width: 40%;
	height: 30vh;
}
.logo img{
	height: 20vh;
	padding: 5vh 20vw;
	
}
.menu{
	float:right;
	width: 60%;
	height: 30vh;
	
	
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	float: left;
	padding: 8vh 10vh;
	position: relative;
	transition: all 1s linear;

	
}
.menu ul li a{
	text-decoration: none;
	color:rgba(6,68,32,1.00);
	font-size: 15pt;
	
}
.menu ul li:hover{
	border-bottom: 2px rgba(6,68,32,1.00) solid;
	
}
.menu ul li ul{
	position: absolute;
	top: 20vh;
	left: 0vw;
	visibility: hidden;
	transition: all .7s linear;
	opacity: 0;
	z-index: 2001;
	
}
.menu ul li ul li{
	background-color:rgba(253,250,246,1.00);
	width: 15vw;
	padding: 50px;
}
.menu ul li ul li a{
	font-size: 13pt;
	padding: 3px;
	text-align: center;
}
.menu ul li:hover ul{
	visibility: visible;
	opacity: 1;
	z-index: 1000;
}
.menu ul li ul li a:hover{
	font-size: 13pt;
	font-weight: bold;
}


						/*banner1*/

.banner1{
	background-image: url("../image/robson-hatsukami-morgan-NKr0qBAkU4s-unsplash.jpg");
	height: 100vh;
	background-size: cover;
	background-position:bottom;
	position: relative;
}
.banner1 h1{
	text-align: center;
	font-size: 35pt;
	font-weight: bold;
	position: absolute;
	left: 50vw;
	top:10vh;
	color:rgba(37,193,6,1.00);
	padding-bottom: 10vh;
	border-bottom: 5px rgba(255,255,255,1.00) solid;
	animation: pulse 2s 3s infinite;
}
.banner1 h3{
	text-align: center;
	width: 30vw;
	position: absolute;
	left: 60vw;
	font-size: 20pt;
	line-height: 28pt;
	top: 30vh;
	color:rgba(253,250,246,1.00);
	padding-top: 10vh;
}
.button1{
	position: absolute;
	font-size: 30px;
	padding: 10px 50px;
	border-radius: 100px;
	background-color:rgba(253,250,246,1.00);
	bottom: 30vh;
	right: 15vw;
	transition: all .2s linear;
}
.button1:hover{
	background-color: rgba(6,68,32,1.00);
	color: rgba(255,255,255,1.00);
	transform: scale(1.2);
}


						/* banner 2 */
.banner2{
	margin-bottom: 90vh;
}
.banner2 h1{
	font-size: 40pt;
	text-align: center;
	padding-top: 15vh;
	padding-bottom: 7vh;

}
.banner2-1{
	float: left;
	width: 50%;
	background-image: url("../image/elevate-dI-aXC7DWpQ-unsplash.jpg");
	height: 80vh;
	background-size: cover;
	background-position: center;
}
.banner2-2{
	float: right;
	width: 50%;
	padding-left: 5vw;
	padding-right: 5vw;
}
	* {box-sizing: border-box}

.container1 {
  width: 100%;
  background-color:rgba(228,239,231,1.00);
	padding: 5px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
	font-size: 10pt;
	font: italic;
}.banner2-2 h2{
	margin: 10px 10 110px 10px;
	line-height: 30pt;
}
.banner2-2 p{
	font-weight: bold;
	padding-top: 50px;
}
.html {width: 90%; background-color: #064420}
.css {width: 95%; background-color: #064420;}
.js {width: 85%; background-color: #064420;}
.php {width: 80%; background-color: #064420;}


					/*banner3*/

.banner3{
	height: 70vh;
	background-color:rgba(250,241,230,1.00);
}
.banner3 h1{
	text-align: center;
	padding: 8vh;
	color:rgba(6,68,32,1.00);
	font-size: 40pt;
}
.banner3sub{
	width: 80%;
	height: 100vh;
	margin-left: 10%;
	text-align: center;
	padding: 0 30px 0 30px
}
.banner3-1{
	width: 33%;
	float:left;
	height: 100px;
	color:rgba(6,68,32,1.00);
}
.banner3-2{
	width: 33%;
	float:left;
	height: 100px;
	color:rgba(6,68,32,1.00);
}
.banner3-3{
	width: 33%;
	float:left;
	height: 100px;
	color:rgba(6,68,32,1.00);
}
.banner3 h2{
	padding: 8vh
}
.banner3 h3{
	padding: 0 2vw;
}


					/*banner4*/


.banner4{
	padding: 10vh 15vw 20vh;
}
.banner4 h2{
	padding-bottom: 5vh;
	text-align: center;
	font-size: 30pt;
	border-bottom: 4px rgba(6,68,32,1.00) solid;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color:rgba(228,239,231,1.00);
}

				/*banner5*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(6, 68, 32);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(6, 68, 32);
	color: aliceblue;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(6, 68, 32);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.banner5{
	position: relative;
	height: 200vh;
	background-color:rgb(250, 241, 230);
}
.banner5 h1{
	text-align: center;
	color: rgb(6, 68, 32);
	padding: 7vh;
}
.banner5 .slideshow-container .mySlides .text{
	color: rgb(6, 68, 32);
	position: absolute;
	top: 10vh;
}
.mySlides img{
	position: absolute;
	top: 20vh;
	left: 1vw;
}


							/* banner 6 */

.banner6{
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto auto;
	
}
.bn6-1{
	float: left;
	width: 50%;
}
.bn6-2{
	float:right;
	width: 50%;
	padding: 50px 0  0
}
.item{
	width: 80%;
	padding-left: 10%;
}
.bn6-sub{
	padding: 10px 20px 40px 50px;
}

							/* banner 7 */
.banner7{
	position: relative;
	margin-top: 5vh;
}
.bn7-1{
	float:left;
	width: 50%;
	background-color:rgba(228,239,231,1.00);
	height: 60vh;
	position: absolute;
	top: 50px;
	
}
.bn7-2{
	background-color:rgba(253,250,246,1.00);
	color:rgb(6, 68, 32);
	height: 60vh;
	float:right;
	width: 50%;
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
	font-size: 20pt;
}
.bn7-1 img{
	border-radius: 50px;
	position: absolute;
	top: 15vh;
	left: 7vw;
}
.bn7-1 .text p{
	color: rgb(6, 68, 32);
	position: absolute;
	width: 30vw;
	right: 3vw;
	top: -40vh;
	font-size: 13pt;
	text-align: left;
}
.bn7-1 h2{
	position: absolute;
	bottom: 20vh;
	left: 5vw;
	color: rgb(6, 68, 32);
}
.bn7-1 h4{
	position: absolute;
	bottom: 17vh;
	left: 5vw;
	color: rgb(6, 68, 32);
}
.bn7-1 h1{
	position: absolute;
	top: 10vh;
	left: 19vw;
	color: rgb(6, 68, 32);
	font-size: 30pt;
}
.bn7-2{
	position: relative;
	
}
.bn7-it1{
	padding-top: 7vh;
}
.bn7-it1 h3{
	padding-top: 5vh;
}
.bn7-it1 h4{
	padding-top: 2vh;
}

							/* banner 8 */

.banner8{
	padding-top: 90vh;
	width: 80%;
	padding-left: 20%;
	margin-bottom: 60vh;
}
.banner8-1{
	float: left;
	width: 50%;
}
.banner8-2{
	float: right;
	width: 50%;
	text-align: left;
}
.banner8-2 h1{
	padding-bottom: 5vh;
}
.banner8-2 h3{
	padding-bottom: 5vh;
}
.banner8-2 h2{
	padding-bottom: 5vh;
}
.banner8-2 .button2{
	padding: 10px 30px;
	background-color: rgb(6, 68, 32);
	color: rgb(253, 250, 246);
	transition: all 0.3s linear;
}
.banner8-2 .button2:hover{
	background-color: rgb(228, 239, 231);
	color: rgb(6, 68, 32);
	padding: 20px 40px;
	font-size: 15pt;
}


						/* banner 9 */

.banner9{
	background-image: url("../image/seb-creativo-3jG-UM8IZ40-unsplash.jpg");
	background-size: cover;
	height: 60vh;
	background-position: center;
	position: relative;
}
.banner9 h1{
	position: absolute;
	right: 7.4vw;
	top:10vh;
	font-size: 30pt;
	color: rgb(253, 250, 246);
}
.banner9 h3{
	position: absolute;
	right: 2vw;
	top:20vh;
	font-size: 15pt;
	color: rgb(253, 250, 246);
	width: 40vw;
	line-height: 25pt;
	border-top-width: 50px;
	border-top: 5px rgb(250, 241, 230) solid;
	padding-top: 2vh;
}
.banner9 .button3{
	position: absolute;
	bottom: 15vh;
	right: 21.2vw;
	padding: 20px 50px;
	font-size: 20pt;
	transition: all 0.3s linear;
	background-color: rgb(253, 250, 246);
}
.banner9 .button3:hover{
	background-color: rgb(6, 68, 32);
	color: rgb(253, 250, 246);
}

				/* banner10*/
.banner10 h1{
	text-align: center;
	padding-top: 10vh;
	margin-left: 25%;
	border-bottom: 6px rgb(6, 68, 32) solid;
	width: 50%;
}
.banner10 .question{
	color: rgb(6, 68, 32);
	margin-top: 3vh;
	text-align: center;
	padding: 10px 70px;
	font-size: 20pt;
	text-decoration: none;
	border: none;
	background-color: rgb(228, 239, 231);
	margin-left: 30%;
	
}
#myDIV {
  width: 80%;
  padding: 50px 10px 50px 300px;
  text-align: center;
  margin-top: -20px;
}

					/* banner11*/

.banner11{
	margin-top: 10vh;
}
.banner11-1{
	float:left;
	width: 50%;
	background-image: url("../image/eduardo-soares-GI5guEoMEgI-unsplash.jpg");
	background-size: cover;
	background-position: center;
	height: 70vh;
}
.banner11-2{
	float:right;
	width: 50%;
	background-color: rgb(250, 241, 230);
	height: 70vh;
}
.bn11-2-1{
	padding: 7vh;
}
.bn11-2-2{
	padding: 7vh;
}
.bn11-2-3{
	padding: 7vh;
}
.banner11 h2{
	border-bottom: 3px rgb(6, 68, 32) solid;
}


						/* banner 12 */

.banner12{
	margin-top: 90vh;
	margin-bottom: 20vh;

}
.banner12-sub{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.bn12-item1{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item1:hover{	
	opacity: 1;
	transform: scale(1.2);
}
.bn12-item2{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item2:hover{
	opacity: 1;
	transform: scale(1.2);
}
.bn12-item3{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item3:hover{
	opacity: 1;
	transform: scale(1.2);
}
.bn12-item4{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item4:hover{
	opacity: 1;
	transform: scale(1.2);
}
.bn12-item5{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item5:hover{
	opacity: 1;
	transform: scale(1.2);
}
.bn12-item6{
	padding: 10px;
	opacity: 0.8;
	transition: all 0.2s linear;
}
.bn12-item6:hover{
	opacity: 1;
	transform: scale(1.2);
}
.banner12 h1{
	text-align: center;
	font-size: 30pt;
	border-bottom: 5px rgb(6, 68, 32) solid;
	width: 50vw;
	margin-left: 25%
}

								/* banner13*/

.banner13{
	height: 70vh;
	background-color: rgb(250, 241, 230);
}
.banner13 h1{
	text-align: center;
	padding: 10vh 0 0 0;
	color: rgb(6, 68, 32);
	font-size: 30pt;
}
.banner13sub{
	width: 80%;
	height: 100vh;
	margin-left: 10%;
	text-align: center;
	padding: 0 30px 0 30px
}
.banner13-1{
	width: 33%;
	float:left;
	height: 100px;
	color:rgb(6, 68, 32);
}
.banner13-2{
	width: 33%;
	float:left;
	height: 100px;
	color: rgb(6, 68, 32);
}
.banner13-3{
	width: 33%;
	float:left;
	height: 100px;
	color: rgb(6, 68, 32);
}
.banner13 h2{
	padding: 3vh
}
.banner13 h3{
	padding: 2vh 2vw;
}
.banner13sub h1{
	font-size: 70pt;
	padding: 20px 0 0 0;
}

/* banner 14 */

.banner14{
	margin-top: 20vh;
	width: 80%;
	margin-left: 20%;
}
.bn14-1{
	float: left;
	width: 50%;
	text-align: right;
}
.bn14-2{
	float: right;
	width: 50%;
}
.bn14-1 h1{
	padding: 30px;
	border-bottom: 3px rgb(6, 68, 32) solid;
	width: 20vw;
	margin-left: 50%;
}
.bn14-1 h3{
	padding: 15px;
	text-align: center;
}
.bn14-1 h4{
	padding: 10px;
	margin-left: 40%;
}
.bn14-1 p{
	padding: 30px;
	text-align: center;
}

/* banner15*/

.banner15{
	margin-top: 100vh;
	background-image: url("../image/d∆∞q.jpg");
	background-size: cover;
	background-position: center;
	height: 60vh;
}
.banner15 h1{
	text-align: center;
	font-size: 50pt;
	padding-top: 100px;
	color: rgba(0,255,13,1.00);
}
.banner15 p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
	padding: 50px;
	color:rgba(0,255,13,1.00);
	
}

								/* banner16 */

.tablink {
  background-color:rgb(6, 68, 32);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 22%;
	margin: 1% 1% 0 1%;
}

.tablink:hover {
  background-color: rgb(228, 239, 231);
	color: rgb(6, 68, 32);
}

/* Style the tab content */
.tabcontent {
  color: rgb(6, 68, 32);
  display: none;
  padding: 50px;
  text-align: center;
}

#London {background-color:rgb(228, 239, 231);}
#Paris {background-color:rgb(228, 239, 231);}
#Tokyo {background-color:rgb(228, 239, 231);}
#Oslo {background-color:rgb(228, 239, 231);}

.banner16{
	margin-top: 15vh;
	margin-bottom: 25vh;
}
.banner16 h1{
	text-align: center;
	font-size: 40pt;
	border-bottom: 4px rgba(0,0,0,1.00) solid;
	width: 500px;
	margin-left: 35%;
	margin-bottom: 30px;
}

							/* banner 17 */

.banner17{
	height: 50vh;
	background-color: rgb(250, 241, 230);
	margin-top: 150px;
}
.banner17 h1{
	text-align: center;
	padding: 7vh;
	color: rgb(6, 68, 32);
	font-size: 40pt;
}
.banner17sub{
	width: 80%;
	height: 100vh;
	margin-left: 10%;
	text-align: center;
	padding: 0 30px 0 30px
}
.banner17-1{
	width: 33%;
	float:left;
	height: 100px;
	color: rgb(6, 68, 32);
}
.banner17-2{
	width: 33%;
	float:left;
	height: 100px;
	color: rgb(6, 68, 32);
}
.banner17-3{
	width: 33%;
	float:left;
	height: 100px;
	color: rgb(6, 68, 32);
}
.banner17 h2{
	padding: 4vh
}
.banner17 h3{
	padding: 0 2vw;
}


											/*	banner18 */

.banner18{
	margin-top: 20vh;
	background-color:rgb(250, 241, 230);
	height: 500px;
	text-align: left;
	padding-left: 5%;
	position: relative;
	
}
.cot1{
	float: left;
	width: 50%;
	color: rgb(6, 68, 32);
	text-align: center;
	padding-top: 5vh;
	
}
.cot2 {
	width: 50%;
	float: right;
	height: 500px;
	
	
}
.map{
	position: absolute;
	top: 40px;
}
form{
	color: antiquewhite;
	font-size: 1vw;
	padding-top: 10px;
}
.hovaten{
	margin-bottom: 20px;
	padding: 10px;
	line-height: 10px;
	width: 40%;
	border:none;
	border-bottom: 1px solid #F31317;
}
.email{
	margin-bottom: 20px;
	padding: 10px;
	line-height: 10px;
	width: 40%;
}
.tinnhan{
	padding: 50px;
	line-height: 10px;
	width: 40%;
	margin-bottom: 20px;
}
.gui{
	margin: 10px 0 0 0;
	width: 40%;
	font-size: 1.3vw;
	transition: all 0.4s linear;
}
.gui:hover{
	color: rgb(250, 241, 230);
	background-color:  rgb(6, 68, 32);
	transform: scale(1.2);

}
.gioitinh{
	padding-top: 0px;
	font-size: 1.3vw;
	line-height: 2vw;
}
.cot1 h1{
	color: antiquewhite;
	padding-top: 1vw;
	text-align: center;
}

											/* footer*/


.footer{
	height: 150px;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	background-color: rgb(228, 239, 231);
}
.ft-1{
	padding-top: 25px;
}
.ft-2{
	padding-top: 75px;
}
.ft-3{
	padding-top: 45px;
}
.fa-amazon{
	padding: 20px;
}

/* on top */



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3333;
  font-size: 15pt;
  border: none;
  outline: none;
  background-color: rgb(6, 68, 32);
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 50px;
	opacity: 0.5;
	animation: bounce 3s 1s infinite;
}

#myBtn:hover {
	background-color:rgb(6, 68, 32);
	color: rgb(253, 250, 246);
	transform: scale(1.4);
	opacity: 1
}
.ft-3 .fa{
	color: black;
}

